<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yjm.doctor">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- Required -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".application.YjmApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentActivity.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LaunchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RegisterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RegisterInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/register_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginFailureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/login_fail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".util.auth.AccountAuthenticatorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LevelActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/yourpositional"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ToExamineActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/examine"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainAppointmentsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/appointments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainConsultationsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/image_text_consulting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainAppointmentsInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/appointments_reply"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ForgetPwdActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/forget_password"
            android:screenOrientation="portrait" />

        <service
            android:name=".util.auth.UserAccountService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name=".ui.BusinessSettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/business_setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainAccountActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccountinfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/account_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.UserInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/user_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccountBalanceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/account_balance"
            android:screenOrientation="portrait"/>


        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"
            />

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="xuwenming-1987#ethealth" />
        <!-- 声明sdk所需的service -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>